/*
THE MAN IN BLACK!!!!!!!!
WE ROCK
*/
@font-face {
	font-family: RobotoLight;
	src: url('font/roboto-light.ttf');
}

#ContactForm1 .title {
	visibility: hidden;
}
/* Contact Form Container */
.contact-form-widget {
	font-family: RobotoLight;
	width: 70%;
	max-width: 70%;
	margin: 0 auto;
	background: transparent;
	color: #222;
}

/* Fields and submit button */
.contact-form-name, .contact-form-email, .contact-form-email-message {
	font-family: RobotoLight;
	background: transparent;
	color: #222;
	width: 100%;
	max-width: 100%;
	margin-bottom: 15px;
	border: 1px solid #282828;
	border-radius: 3px;
	padding: 4px;
}

.contact-form-widget p {
	color: #222;
	font-family: RobotoLight;
	font-size: 16px;
	width: 50%;
}

/* Submit button style */
.contact-form-button-submit {
	border-color: #C1C1C1;
	background: #E3E3E3;
	color: #585858;
	width: 100px;
	margin-bottom: 0px;
	float:right;
}

/* Submit button on mouseover */
.contact-form-button-submit:hover{
	background: #444;
	color: #ffffff;
	border: 1px solid #FAFAFA;
}
