@font-face {
    font-family: Arial;
    src: url('font/Arial.ttf');
}

@media only screen and (max-width: 750px), only screen and (max-device-width: 750px) {

	/* Body, bg, card width*/
	body {
		width: 100%;
	}
	body, .bg, .card { min-width: 200px; }

	.bg {
		height: 120%;
		background-size: auto 100%;
	}

	/* Header */
	.header_img_txt { font-size: 42px; }

	/* Top Bar */
	.topbar_holder {
		font-size: 14px;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	.topbar_announcement { margin-left: 0px; }
	.topbar_holder form {
		float: none; 
		padding: 8px;
		width: auto;
		margin: auto;
		text-align: center;
	}
	#search-box { width: 70%; }
	

	/* Widget */
	.widget.BlogArchive { display: none; }
	.widget.Text h2{ margin: 0px; }
	#sidebar { padding: 10px }
	
	/* card */
	.card {
		margin-top: -23px;
		margin-left: 2%;
		margin-right: 2%;
		padding-top: 0px;
		width:96%;
	}
	.card_widget {
		width:100%;
		padding: 0px 0px;
		margin-right:0px;
	}
	.card_blog {
		float:none;
		width:100%;
		min-width:200px;
		margin-left:0px;
	}
	#Blog1 {
		padding:0px 20px;
	}


}
